@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/*Mis navbar*/


html {
    background-color: black;
}
h1 {
   font-family: "Pixelify Sans";
    color: aliceblue;
    text-align: center;  
    margin-top: 0;
     
}


ul {

  list-style-type: none;
  overflow: hidden;
  background-color: #ff1e1e;  
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
 
}

a{
    size: 40px;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: "Pixelify Sans";
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 0;
    
}

.a {
 padding-bottom: 19px;  
 padding-top:18px; 
}

li a:hover {
    background-color: #ffffff;
    color: #791313;
    text-decoration: solid;
    cursor: pointer;
}


/*Fin del navbar*/



body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; /* Cambiado de center a start para permitir scroll */
    min-height: 100vh; 
    
}


.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; /* Asegura que el contenido fluya */
    width: 100%;
    max-width: 800px;
    margin-top: 20px; /* Agregado para separar del navbar */
}


img {
    padding: 0;
    padding: 0;
    height: 40%;
    width:40%;
    border-radius: 5px;
}

.datosTitulo{
    padding-top: 0;
    color:#ffffff;
    font-family: "Pixelify Sans";
}

.datos {
    font-family: "Pixelify Sans";
    background-color: #ff1e1e;  
    padding: 25px;
    padding-top:0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
}

